
header#main-header{
  width: 100%;
  background: #24292E;
  display: flex;
  align-items: center;
  height: 60px;
}

header#main-header a{
  font-size: 18px;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
  display: flex;
  align-items: center;
}
